@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .App {
  border: 1px solid purple;
  height: 100%;
  width: 100%;
} */

.NavBar {
  /* border: 1px solid red; */
  height: 7em;
}

.NavTop {
  /* border: 1px solid blue; */
  height: 40%;
  background-color: #cbbddb;
  display: flex;
  padding-left: 2em;
  padding-right: 2em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
}

.Contact {
  /* border: 1px solid blue; */
  margin: auto;
  margin-left: .5em;
}

.NavTopR {
  display: flex;
  margin: auto;
  margin-right: .5em;
}

.NavBot {
  /* border: 1px solid blue;   */
  height: 60%;
  /* width: 100%;\ */
  display: flex;
  margin: auto;
}

.NavCategory {
  /* border: 1px solid blue;   */
  margin: 2em;
  /* display: flex; */
  align-self: center;
  justify-content: space-evenly;
}

.Logo {
  /* border: 1px solid pink; */
  font-family: 'Playfair Display', serif;
  color: rgb(45, 45, 45);
  letter-spacing: .17em;
  font-size: 40px;
  margin-left: 1em;
  margin-top: .1em;
}

.FeatureContainer {
  /* border: 1px solid red;   */
  height: 30em;
  background-color: #cbbddb;
}

.FooterContainer {
  /* border: 1px solid red;   */
  height: 3em;
  background-color: #cbbddb;
  flex-shrink: 0;
}